* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: #F8F8F8;
    font-family: Arial, sans-serif;
    color: #8B4513;
}


.topnav {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.topnav nav a {
    color: #F8F8F8;
    text-decoration: none;
    padding: 14px 13px;
    background-color: #8B4513;
    font-size: 17px;
    text-align: center;
    width: 200px;
}

.topnav nav a:hover {
    background-color: #F8F8F8;
    color: #8B4513;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}

.brand {
    text-align: center;
    margin: 20px 0;
}

.content {
    padding: 20px;
    text-align: center;
}

.paragraph {
    background-color: #F8F8F8;
    padding: 20px 30px;
    font-weight: normal;
    font-family: 'Perpetua', serif;
    color: #8B4513;
    line-height: 1.6;
    border-radius: 8px;
    box-shadow: 0 4px 8px #8B4513;
    max-width: 800px;
    margin: 20px auto;
    text-align: left;
}

.paragraph p {
    margin-bottom: 20px;
}